*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial,sans-serif;
}

body{
  color: rgb(0,0,0);

}

a:hover{
  background-color: #bebebe;
}

.menu-bar{
  width: 100%;
  font-size: 84%;
  padding-bottom: 2px !important;
  margin: 5px 0 20px;
  border-bottom: 1px solid #bebebe;
}
.web{
  padding: 0 10px 0;
  font-weight: 600;
}


.horizontal-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.horizontal-menu li {
  margin-right: 15px;
}

.horizontal-menu li:last-child{
  margin-right: 0;
}

.horizontal-menu li a{
  font-size: 13px;
}

.horizontal-menu li a:hover{
  background-color: #eee;
}

.gb3{
  font-family: arial, sans-serif;
  text-decoration: none;
  padding-bottom: 1px !important;
  font-size: 13px;
}


.menu-right{
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-left: auto;
  margin-right: 10px;
}

.menu-right li{
  white-space: nowrap;
  padding-left: 5px;
}

.center{
  text-align: -webkit-center;
}

table td{
  display: table-cell;
  vertical-align: inherit;
}

table td a{
  display: inline;
  white-space: nowrap;
  word-spacing: 0;
}

table{
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 1px;
}

input{
  text-align: start;
  padding: 3px 2px;
  border-width: 1px;
  border-bottom: 1px solid #d3d3d3;
}



input[type="submit"]hover {
  background-color: #656565;
}